/FakturySerwer/FakturySerwer-ear/target/
/FakturySerwer/FakturyEncje/target/
/FakturySerwer/FakturyRemoteInterfaces/target/
/FakturySerwer/FakturyDAO/target/
/FakturySerwer/FakturyClient/target/
/FakturySerwer/FakturyGUI/target/