# Package Files #
*.jar
*.war
*.ear
*.class

**/target/**
**/lib/**

# Netbeans files #
**/nb-configuration.xml
**/nbactions.xml
/InvoicesPOM/InvoicesModel/target/
/InvoicesPOM/InvoicesDAO/target/
/InvoicesPOM/InvoicesGUI/target/
/InvoicesPOM/InvoicesService/target/
/InvoicesPOM/InvoicesREST/target/